.button {
  padding: 10px 15px;
  border: 0;
  border-radius: 15px;
  color: white;
  background: #d87093;
  transition: background 0.25s ease;
  cursor: pointer;

  &:hover {
    background-color: #ff82ab;
  }

  &_variable {
    color: black;
    background-color: rgb(120, 225, 190);
    border: none;
    border-radius: 15px;

    &:hover {
      background-color: rgb(182, 255, 231);
    }
  }

  &_change {

  }

  &_save {

  }

  &_preview {
    display: flex;
    margin: 25px auto 0;

  }
}
