.button {
  padding: 10px 15px;
  border: 0;
  border-radius: 15px;
  color: white;
  background: #d87093;
  transition: background 0.25s ease;
  cursor: pointer;

  &:hover {
    background-color: #ff82ab;
  }

  &_change {
    position: absolute;
    top: 5px;
    right: 5px;

    @media (max-width: 640px) {
      width: 50%;
      transform: translate(-50%);
    }
  }

  &_save {
    grid-area: save_button;
    width: 100%;
    margin-top: 20px;
  }
}
