.editor {
  text-align: left;


  &__textarea {
    width: calc(100% - 30px);
    min-height: 150px;
    resize: none;
    padding: 0;
    margin: 0;
    scrollbar-gutter: stable;
    text-indent: 15px;
    padding: 15px;
  }

  .variables-list-editor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .variable {
    margin: 5px;
  }
}
