.preview-substrate {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.preview {
  text-align: left;
  position: fixed;
  width: 70%;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(201, 201, 201);

  &__textarea {
    width: calc(100% - 30px);
    min-height: 150px;
    resize: none;
    padding: 0;
    margin: 0;
    scrollbar-gutter: stable;
    text-indent: 10px;
    padding: 15px;
  }

  &__variables {
    display: flex;
    flex-direction: column;
  }
}
