.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

textarea {
  width: 100%;
  min-width: 50px;
  padding: 5px 10px;
  margin: 0;
  resize: none;
  display: inline-block;
  outline: 2px solid transparent;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  scrollbar-gutter: stable;

  &:focus {
    border: 2px solid #56a429;
  }
}
